{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- favicon -->
<link href="{% static 'assets/img/educator-fabicon-300x300.png' %}" rel="icon" type="image/png"/>
<!-- Bootstrap CSS -->
<link href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" media="all" rel="stylesheet"/>
<!-- Fonts Awesome CSS -->
<link href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- Elmentkit Icon CSS -->
<link href="{% static 'assets/vendors/elementskit-icon-pack/assets/css/ekiticons.css' %}" rel="stylesheet" type="text/css"/>
<!-- progress bar CSS -->
<link href="{% static 'assets/vendors/progressbar-fill-visible/css/progressBar.css' %}" rel="stylesheet" type="text/css"/>
<!-- jquery-ui css -->
<link href="{% static 'assets/vendors/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- modal video css -->
<link href="{% static 'assets/vendors/modal-video/modal-video.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- light box css -->
<link href="{% static 'assets/vendors/fancybox/dist/jquery.fancybox.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- slick slider css -->
<link href="{% static 'assets/vendors/slick/slick.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/vendors/slick/slick-theme.css' %}" rel="stylesheet" type="text/css"/>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet"/>
<!-- css -->
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
<title>coming soon – Educator - University &amp; School Education HTML5 Template</title>
</head>
<body class="home">
<div class="site-loader" id="siteLoader">
<div class="preloader-content">
<img alt="" src="{% static 'assets/img/loader1.gif' %}"/>
</div>
</div>
<div class="full-page" id="page">
<!-- coming soon start -->
<div class="comming-soon-section" style="background-image: url({% static 'assets/img/educator-img12.jpg' %});">
<div class="overlay"></div>
<div class="container">
<div class="comming-soon-wrap">
<section class="site-identity">
<h1 class="site-title">
<a href="/">
<img alt="logo" class="white-logo" src="{% static 'assets/img/educator-logo1.png' %}"/>
</a>
</h1>
</section>
<article class="comming-soon-content">
<h2 class="section-title">
                            We are coming soon !!
                        </h2>
<h6>Something awesome is in the works</h6>
</article>
<!-- Time count down html -->
<div class="time-counter-wrap">
<div class="time-counter" data-date="2023-12-24 23:58:58">
<!-- Date Formate Input yyyy-mm-dd hh:mm:ss -->
<div class="counter-time">
<span class="counter-days">39</span>
<span class="label-text">Days</span>
</div>
<div class="counter-time">
<span class="counter-hours">10</span>
<span class="label-text">Hours</span>
</div>
<div class="counter-time">
<span class="counter-minutes">46</span>
<span class="label-text">Minutes</span>
</div>
<div class="counter-time">
<span class="counter-seconds">50</span>
<span class="label-text">Seconds</span>
</div>
</div>
</div>
<div class="comming-soon-footer">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="com-contact-info">
<ul>
<li>
<a href="tel:+98425689721"><i class="fas fa-phone-alt"></i> (+984) 256 897 21</a>
</li>
<li>
<a href="/cdn-cgi/l/email-protection#8ce5e2eae3ccd8feedfae9e0a2efe3e1"><i class="fas fa-envelope"></i> <span class="__cf_email__" data-cfemail="50393e363f10343f3d31393e7e333f3d">[email protected]</span></a>
</li>
<li>
<i class="fas fa-map-marker-alt"></i> San Francisco, USA
                                        </li>
</ul>
</div>
</div>
<div class="col-lg-4">
<div class="social-icons">
<ul>
<li>
<a href="https://www.facebook.com/" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a href="https://www.twitter.com/" target="_blank">
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a href="https://www.google.com/" target="_blank">
<i class="fab fa-google"></i>
</a>
</li>
<li>
<a href="https://www.instagram.com/" target="_blank">
<i class="fab fa-instagram"></i>
</a>
</li>
<li>
<a href="https://www.youtube.com/" target="_blank">
<i class="fab fa-youtube"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="overlay"></div>
</div>
<!-- coming soon end -->
</div>
<!-- JavaScript -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendors/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendors/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/vendors/progressbar-fill-visible/js/progressBar.min.js' %}"></script>
<script src="{% static 'assets/vendors/countdown-date-loop-counter/loopcounter.js' %}"></script>
<script src="{% static 'assets/vendors/counterup/jquery.counterup.js' %}"></script>
<script src="{% static 'assets/vendors/modal-video/jquery-modal-video.min.js' %}"></script>
<script src="{% static 'assets/vendors/masonry/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendors/fancybox/dist/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/vendors/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/vendors/slick-nav/jquery.slicknav.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a1f05d0608509787',t:'MTc4NDcwMTQ3Ng=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>