{% extends 'base.html' %}
{% load static %}

{% block title %}Facility – Educator - University & School Education HTML5 Template{% endblock %}

{% block content %}
<section class="inner-banner-wrap">
<div class="inner-baner-container" style="background-image: url({% static 'assets/img/educator-img12.jpg' %});">
<div class="container">
<div class="inner-banner-content">
<h1 class="inner-title">Facility</h1>
</div>
</div>
</div>
</section>



<section class="home-feature-section">
<div class="container">
<div class="feature-wrapper">
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">1</h5>
<i class="fas fa-laptop-code"></i>
</div>
<h4 class="feature-heading">Skilled Teachers</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">2</h5>
<i class="fas fa-chart-line"></i>
</div>
<h4 class="feature-heading">Affordable Courses</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">3</h5>
<i class="fas fa-brain"></i>
</div>
<h4 class="feature-heading">Efficient &amp; Flexible</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">4</h5>
<i aria-hidden="true" class="icon icon-Safe-house"></i>
</div>
<h4 class="feature-heading">Friendly Place</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">5</h5>
<i aria-hidden="true" class="icon icon-diploma"></i>
</div>
<h4 class="feature-heading">Global Certification</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
<div class="feature-type">
<div class="feature-icon">
<h5 class="meta-no">6</h5>
<i aria-hidden="true" class="icon icon-Support-2"></i>
</div>
<h4 class="feature-heading">Best Support</h4>
<p class="feature-info">Dictumst magni irure nascetur nam primis, aliquam ipsum. Element, occaecat rerum .</p>
<a class="right-arrow-link" href="#">
<i class="fas fa-long-arrow-alt-right"></i>
</a>
</div>
</div>
</div>
</section>
{% endblock %}

{% block js %}
    <script src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a1f05cfb7cab9787',t:'MTc4NDcwMTQ3NQ=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();
    </script>
{% endblock %}
