{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery – Educator - University & School Education HTML5 Template{% endblock %}

{% block content %}
<section class="inner-banner-wrap">
<div class="inner-baner-container" style="background-image: url({% static 'assets/img/educator-img12.jpg' %});">
<div class="container">
<div class="inner-banner-content">
<h1 class="inner-title">Gallery</h1>
</div>
</div>
</div>
</section>


<div class="gallery-section">
<div class="container">
<div class="gallery-container">
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img12.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img12-500px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img13.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img13-500px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img14.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img14-500px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img15.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img15-500px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img27.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img27.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img28.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img28.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img29.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img29-300px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img30.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img30-300px.jpg' %}"/>
</a>
</figure>
</div>
<div class="single-gallery">
<figure class="gallery-img">
<a data-fancybox="gallery" href="{% static 'assets/img/educator-img31.jpg' %}">
<img alt="" src="{% static 'assets/img/educator-img31-300px.jpg' %}"/>
</a>
</figure>
</div>
</div>
</div>
</div>
{% endblock %}

{% block js %}
    <script src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a1f05cfe59f99787',t:'MTc4NDcwMTQ3NQ=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();
    </script>
{% endblock %}
