{% extends 'base.html' %}
{% load static %}

{% block title %}Search Page – Educator - University & School Education HTML5 Template{% endblock %}

{% block content %}
<section class="inner-banner-wrap">
<div class="inner-baner-container" style="background-image: url({% static 'assets/img/educator-img12.jpg' %});">
<div class="container">
<div class="inner-banner-content">
<h1 class="inner-title">Search Result</h1>
</div>
</div>
</div>
</section>


<div class="search-section">
<div class="container">
<div class="search-outer-wrap">
<div class="row grid">
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4>
<a href="/blog/sample-post/">Front</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Demoteam</a>
</span>
<span class="posted-on">
<a href="/blog/sample-post/">Aug 17, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<p>ELEMENTOR TEMPLATES Agence – Digital Agency Elementor Template Kit A Digital Agency Elementor Template Kit created especially to build any type of agency websites and</p>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Acer Notebook</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2019</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Interdum veritatis quas minus eligendi urna eius, ea platea. Neque aut, eiusmod, </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Stationary Set</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Office Table</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Desktop Set</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Demoteam</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Office Chair</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> jan 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Lenevo Laptop</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Group Of Students Sharing Their Ideas</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Feb 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">Creative Class Library For Students</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> May 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
<div class="col-lg-4 col-md-6 grid-item">
<div class="search-content-wrap">
<article class="post">
<div class="entry-content">
<h4 class="entry-title">
<a href="/blog/sample-post/">College Seminar “Leadership &amp; Works”</a>
</h4>
<div class="entry-meta">
<span class="byline">
<a href="/blog/sample-post/">Admin</a>
</span>
<span class="post-on">
<a href="/blog/sample-post/"> Dec 15, 2023</a>
</span>
<span class="comment-info">
<a href="/blog/sample-post/">No Comments</a>
</span>
</div>
<div class="entry-text">
<p>Sed ea expedita adipiscing dui dicta auctor sint, rhoncus earum? Nostrud? Labore, tempora lacus odio? Nostrum nec sit assumenda perspiciatis dolore aliqua? Voluptas vero ipsa aliquid tempora phasellus deserunt iaculis! Donec tempus odit morbi dui repudiandae dolore eligendi. </p>
</div>
<div class="button-container">
<a class="button-text" href="/blog/sample-post/">Read More</a>
</div>
</div>
</article>
</div>
</div>
</div>

<div class="post-navigation-wrap">
<nav>
<ul class="pagination">
<li>
<a href="/search/">
                                            « Previous
                                        </a>
</li>
<li class="active"><a href="/search/">1</a></li>
<li><a href="/search/">2</a></li>
<li><a href="/search/">3</a></li>
<li>
<a href="/search/">
                                            Next »
                                        </a>
</li>
</ul>
</nav>
</div>

</div>
</div>
<div class="content-search-from">
<div class="container">
<div class="row">
<div class="section-head col-lg-8 offset-lg-2 justify-content-center">
<div class="title-divider-center"></div>
<h2 class="section-title text-center">
                                    Search Again Now !!
                                </h2>
<div class="section-disc text-center">
<p>
                                        Sint nascetur facere, delectus conubia consequuntur, nonummy distinctio! Non officiis, id natus non nisl provident justo.
                                    </p>
</div>
<form class="search-form">
    {% csrf_token %}
<input name="search" placeholder="Search.." type="text"/>
<button class="search-btn">
<i class="fas fa-search"></i>
</button>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block js %}
    <script src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a1f05d06f9cf9787',t:'MTc4NDcwMTQ3Ng=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();
    </script>
{% endblock %}
