{% extends 'base.html' %}
{% load static %}

{% block title %}Team-Detail – Educator - University & School Education HTML5 Template{% endblock %}

{% block content %}
<section class="inner-banner-wrap">
<div class="inner-baner-container" style="background-image: url({% static 'assets/img/educator-img12.jpg' %});">
<div class="container">
<div class="inner-banner-content">
<h1 class="inner-title">Team Detail</h1>
</div>
</div>
</div>
</section>


<section class="team-detail-section">
<div class="pattern-overlay zigzag-patten"></div>
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="author-img-wrapper">
<figure class="team-fig">
<img alt="" src="{% static 'assets/img/educator-img34.jpg' %}"/>
</figure>
<div class="auther-quote">
<blockquote>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo."</p>
</blockquote>
</div>
</div>
</div>
<div class="col-lg-7">
<div class="author-bio-date">
<div class="pattern-overlay c-patten"></div>
<div class="title-divider"></div>
<h2 class="author-name">
                                    Harrison Scott
                                </h2>
<div class="social-site-link">
<ul>
<li>
<a href="https://www.facebook.com/">
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a href="https://twitter.com/?lang=en">
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a href="https://www.google.com/">
<i class="fab fa-google"></i>
</a>
</li>
<li>
<a href="https://www.instagram.com/">
<i class="fab fa-instagram"></i>
</a>
</li>
<li>
<a href="https://www.pinterest.com/">
<i class="fab fa-pinterest"></i>
</a>
</li>
</ul>
</div>
<div class="author-disc">
<p>
                                        Quaerat expedita suspendisse asperiores repellendus saepe ultrices eget vitae facilisis cupidatat adipisicing? Potenti commodi gravida expedita taciti enim! Eaque! Ab laboris labore provident dis. Voluptatum dolore laboris consectetur tempore voluptatum.
                                    </p>
<p>
                                        Lorem ipsum dolor sit amet, cons aring elit sed dllao the eimod sed dllao the eimod dolor sit am. Rem omnis placeat vulputate inventore maxime minus nec eimod sed dllao.
                                    </p>
</div>
<div class="qualification">
<h4 class="qualification-title"> qualification :</h4>
<div class="experience-detail">
<h5 class="date"># 2013 / 2015</h5>
<span>Harvey Mudd College (Civil Engineering) College of engineering, London</span>
</div>
<div class="experience-detail">
<h5 class="date"># 2016 / 2018</h5>
<span>Oxford College (Architech) engineering college, San Francicso</span>
</div>
<div class="experience-detail">
<h5 class="date"># 2019 / 2020</h5>
<span>CEO, Chief supervisor of Alfred Construction company</span>
</div>
</div>
</div>
</div>
</div>
<div class="experience-info">
<h4 class="experience-heading">Experiences:</h4>
<p>
                            Quaerat expedita suspendisse asperiores repellendus saepe ultrices eget vitae facilisis cupidatat adipisicing? Potenti commodi gravida expedita taciti enim! Eaque! Ab laboris labore provident dis. Voluptatum dolore laboris consectetur tempore voluptatum Potenti commodi gravida expedita taciti enim! Eaque! Ab laboris labore provident dis. Voluptatum dolore laboris consectetur tempore voluptatum dolore laboris consectetur tempore volupta.
                        </p>
<p>
                            Lorem ipsum dolor sit amet, cons aring elit sed dllao the eimod sed dllao the eimod dolor sit am. Rem omnis placeat vulputate inventore maxime minus nec eimod sed dllao the eimod dolor minus nec eimod sed dllao the eimod .
                        </p>
</div>
<div class="experience-wrappered row">
<div class="pattern-overlay c-patten"></div>
<div class="col-lg-6 col-md-12">
<div class="experience-list">
<ul>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Occaecat velit dis! Exercitationem, eleifend ea wisi.
                                    </li>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Aliquam fames laoreet, sapiente beatae modi rem.
                                    </li>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Sem justo urna aliquam, rhoncus, libero lectus.
                                    </li>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Arcu donec aptent torquent eius, lacinia fugiat.
                                    </li>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Adipiscing auctor leo, adipisci etiam, similique expedita.
                                    </li>
<li>
<i aria-hidden="true" class="fas fa-minus"></i>
                                        Dignissimos, dolorem dolorem quod ornare fugit.
                                    </li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-12">
<div class="skill-container">
<div class="skill-wrapper">
<p class="skill-titile">Completed Projects</p>
<div class="progress-wrapper">
<div class="ab-progress example" data-progress="" data-value="80"></div>
</div>
</div>
<div class="skill-wrapper">
<p class="skill-titile">Financial Skills</p>
<div class="progress-wrapper">
<div class="ab-progress example" data-progress="" data-value="95"></div>
</div>
</div>
<div class="skill-wrapper">
<p class="skill-titile">Relaible &amp; Hardworking</p>
<div class="progress-wrapper">
<div class="ab-progress example" data-progress="" data-value="85"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block js %}
    <script src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'a1f05cfd58459787',t:'MTc4NDcwMTQ3NQ=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();
    </script>
{% endblock %}
